[Unit]
Description=cloudflared tunnel
After=network-online.target
Wants=network-online.target

[Service]
User=root
ExecStart=/usr/local/bin/cloudflared --config /opt/mmc/deploy/cloudflared/config.yml tunnel run
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
